{
  "swagger": "2.0",
  "info": {
    "title": "Magnetic Jargon",
  "description": "I encounter a lot of acronyms and jargon in my world. I wanted to create an API so that some of this jargon could be captured, expressed through a refridgerator magnet application, and enjoyed by everyone--this is the API to start all that.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "api.apis.how",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/dictionary/": {
      "get": {
        "summary": "all dictionaries",
        "description": "all dictionaries",
        "operationId": "getLinks",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across dictionary",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "dictionary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/dictionary"
              }
            }
          }
        },
        "tags": [
          "Links"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add a dictionary",
        "description": "add a dictionary",
        "operationId": "addLink",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "short_url",
            "in": "query",
            "description": "short url for the dictionary",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "dictionary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/dictionary"
              }
            }
          }
        },
        "tags": [
          "Links"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/dictionary/{dictionary_id}/": {
      "get": {
        "summary": "retrieve a dictionary using its id",
        "description": "retrieve a dictionary using its id",
        "operationId": "getdictionary",
        "parameters": [
          {
            "name": "dictionary_id",
            "in": "path",
            "description": "the unique id for dictionary entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the dictionary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "dictionary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/dictionary"
              }
            }
          }
        },
        "tags": [
          "Links"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "update dictionary",
        "description": "update dictionary",
        "operationId": "updatedictionary",
        "parameters": [
          {
            "name": "dictionary_id",
            "in": "path",
            "description": "the unique id for dictionary",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "dictionary_date",
            "in": "query",
            "description": "date the dictionary was last pulled",
            "required": false,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "ttle for the dictionary",
            "required": false,
            "type": "string"
          },
          {
            "name": "short_url",
            "in": "query",
            "description": "short_url of the dictionary",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "dictionary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/dictionary"
              }
            }
          }
        },
        "tags": [
          "Links"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "delete": {
        "summary": "delete dictionary",
        "description": "delete dictionary",
        "operationId": "deletedictionary",
        "parameters": [
          {
            "name": "dictionary_id",
            "in": "path",
            "description": "the unique id for dictionary entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the dictionary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "dictionary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/dictionary"
              }
            }
          }
        },
        "tags": [
          "Links"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/dictionary/{dictionary_id}/tags/": {
      "get": {
        "summary": "dictionary tags",
        "description": "dictionary tags",
        "operationId": "getdictionaryTags",
        "parameters": [
          {
            "name": "dictionary_id",
            "in": "path",
            "description": "id for dictionary",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the dictionary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "dictionary Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add tag to dictionary",
        "description": "add tag to dictionary",
        "operationId": "adddictionaryTag",
        "parameters": [
          {
            "name": "dictionary_id",
            "in": "path",
            "description": "id for the dictionary",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "dictionary Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/dictionary/{dictionary_id}/tags/{tag}": {
      "delete": {
        "summary": "delete dictionary tag",
        "description": "delete dictionary tag",
        "operationId": "deletedictionaryTag",
        "parameters": [
          {
            "name": "dictionary_id",
            "in": "path",
            "description": "id for the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from dictionary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "dictionary Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "appid": {
      "type": "apiKey",
      "name": "appid",
      "in": "query"
    },
    "appkey": {
      "type": "apiKey",
      "name": "appkey",
      "in": "query"
    }
  },
  "definitions": {
    "dictionary": {
      "properties": {
        "dictionary_id": {
          "description": "unique id of the dictionary",
          "type": "integer",
          "format": "id"
        },
        "created_date": {
          "description": "date the dictionary was created",
          "type": "string"
        },
        "url": {
          "description": "ttle for the dictionary",
          "type": "string"
        },
        "short_url": {
          "description": "short_url of the dictionary",
          "type": "string"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}
